/* Global Styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Hind', sans-serif;
    /* To prevent overlapping border issues!! */
    box-sizing: border-box;
}

/*Smooth entry animation for the webage, it also obscures the transitions on
 other elements jumping on page load.*/
body {
    animation: fadeIn 1s;
    width: 100%;
    height: 100%;
    background-color: #7785AC;
}

/*fadeIn starts invisible and finishes visible. Speed determined by later CSS*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* h1 capitalised for emphasis. Complimentary font to Hind Light from the logo. 
Text shadow increases its sharpness. 300% is the largest font size on the site */
h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    font-size: 300%;
}

/*span within an h1 needs seperating styling wise to make smaller */
.hero-text>h1>span {
    font-size: 70%;
}

/* h2 and h3 styling progressively smaller fonts. Fall-back font of sans-serif.
 Do not capitalise like h1 */
h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    font-size: 250%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    font-size: 120%;
}

/*button hover animation tutorial from https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
/*Set a default format for all buttons has an inner glow and drop shadow 
(multiple box shadows) to make it pop out, encouraging a click.*/
.button {
    height: auto;
    border-radius: 15px;
    background-color: #7785AC;
    box-shadow: 5px 5px 10px #C9F0FF inset, 5px 5px 10px #393D3F;
    text-shadow: 0px 1px 5px #000000;
    margin: 15px auto;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 180%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

/*span inside the button class to also include pointer cursor (stops a flicker
 between mouse and hand)*/
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

/*last part of span element within the button add the >> via unicode and set
 its position and transition speed to match previous.*/
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50px;
    transition: 0.5s;
}

/*change padding amount on hover to give the perspective of motion*/
.button:hover span {
    padding-right: 20px;
}

/*the content after the span (the >>) is made visible*/
.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Default font for p & label is the logo in the font, not used for headers as
 it is slim. */
p,
label {
    font-family: 'Hind', sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

/*Default font for inputs and selects*/
input,
select {
    font-family: 'Hind', sans-serif;
    color: #000000;
    font-size: 100%;
}

/*this is setting the styling for the dropdown of a select menu, so the font is 
smaller than the selected input*/
select>optgroup,
select>optgroup>option {
    font-family: 'Hind', sans-serif;
    color: #000000;
    font-size: 85%;
}

/*hr line breaks styling to make it white and thicker (white is a colour that is visible on the page) */
hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    height: 2px;
}

/* HEADER STYLING */
/*Set colour theme in BG, full page width, set fixed height of 100px, reasonable height on
all formats set to flex row and no left side margin*/
header {
    background-color: #1D5D40;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-bottom: 25px;
    box-shadow: 0px 0px 3px 3px rgba(57, 61, 63, 0.8);
}

/* The "a" tag which holds the logo - 100x100px square */
header>a {
    height: 100px;
    width: 100px;
    margin-left: 3%;
}

/* Logo style - Get width from parent ("a" tag) 0 margin within its container (header) 
setting again the min height/width to match the parent and to not let the image go any
smaller, to the point it cannot be seen. Which it will without this setting */
.header-logo {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    background-color: #1D5D40;
}

/*Styling the header menu  Width of 85% (remainder in header after logo takes 15%) 
font colour and size set. Set it to be a flex row, and to set the menu items to add into
the page from the end of the row. Use align-items:center to align it vertically*/
.header-menu {
    clear: both;
    width: 85%;
    font-size: 150%;
    height: inherit;
    background-color: #1D5D40;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/*Hidden burger button, which is actually a hidden checkbox.*/
.burger-btn {
    display: none;
}

/*This is a label which is what the user interacts with. Default invisible, 
made visible at a particular screen width resolution in media queries*/
.burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    user-select: none;
    visibility: hidden;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 100%;
}

/*turn blue when hovering over the burger menu icon*/
.burger-icon:hover {
    color: #C9F0FF;
}

/*Styling each link in the header menu (each list item). 
 List style type:none means that no bullet points are made.*/
.header-menu li {
    font-family: 'Hind', sans-serif;
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

/* each <a> (link) within the nav menu has no purple overlay when previously
 clicked (text-decoration) text is white */
.header-menu a {
    text-decoration: none;
    color: #FFFFFF;
}

/* when a header-menu link is hovered, it goes a light blue to signify where 
 the intended click in the menu is */
.header-menu a:hover {
    color: #C9F0FF;
}

/* on each page, there is a selected header-menu item. This item is underlined
 on its respective page */
a.active {
    border-bottom: 1px solid #FFFFFF;
}

/* Footer styling */
/*Full page width, fixed 100px height (height matches header). Flex row display
with centred content and the background colour in line with the theme top shadow 
to help content pop*/
footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1D5D40;
    box-shadow: 0px -3px 1px 0px rgba(57, 61, 63, 0.8);
    margin-top: 25px;
}

/* social-networks ul css set the text to be centre aligned in a flex row 
with centred items*/
ul.social-networks {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/*Each list item of the social networks unorganised list carries the flex 
display has padding (from top and bottom of social networks class, which is the
height of the footer*/
.social-networks>li {
    display: flex;
    padding: 25px;
}

/*styling for the font awesome "i" tags, setting text field size, font colour
line height to create a centring effect*/
.social-networks i {
    font-size: 200%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

/*When hovering the social media icons, turn them the light blue which is part
of the theme.*/
.social-networks i:hover {
    color: #C9F0FF;
}

/*100% width flex space around to evenly space content with gaps. (image and 
text). Fixed height of 400px (default, can be changed in media queries). Hide
any overflow to stop it escape the container.*/
.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* The image is positioned at the start of the flex container (hero-container)
Insert "growth" image into the image container and give it square dimensions*/
.hero-image {
    display: flex;
    align-items: flex-start;
    border-radius: 25px;
    margin: 50px 50px 0px 30px;
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
    background: url('../images/growth.webp') no-repeat center center;
    background-size: contain;
    box-shadow: 5px 5px 10px #C9F0FF inset, 5px 5px 10px 5px #393D3F;
}

/* The image is on flex-start so the text goes on flex-end*/
.hero-text {
    display: flex;
    align-items: flex-end;
    height: 300px;
    margin: 50px 100px 0px 0px;
    text-shadow: 0px 1px 5px #000000;
    text-align: right;
}

/*for the space below the hero which will hold sections. 100% width with 
auto left/right margins to centre the content.*/
.content-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*A class to create a row of full screen width and align its content centrally */
.full-width-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    gap: 2%;
}

/*For the proposition cards in the index page to set the background colour
  and alignment*/
.index-proposition-section {
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*out-the-box section on the index page, set a shadow at the base to create 
 a pop out effect*/
.out-the-box {
    background-color: #1D5D40;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 0 5px 0;
    box-shadow: 0px 0px 5px 6px rgba(57, 61, 63, 0.8);
    margin: 0 0 10px 0;
}

/*This area holds all the proposition cards on the index page*/
.proposition-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    gap: 2%;
}

/*setting the p element(s) within the out-the-box class (in index) to be 
slightly larger than usual p elements, centrally aligned and a percentage 
width of its container*/
.out-the-box>p {
    margin-left: auto;
    margin-right: auto;
    font-size: 160%;
    max-width: 80%;
}

/*Set a width and centre the button with a bit of spacing below in this section.*/
.out-the-box .button {
    width: 15%;
}

/* Card creation with hover tutorial gained from : https://www.w3schools.com/howto/howto_css_cards.asp,
added additional CSS and tweaked existing CSS to suit my design. 
Setting flex-direction to column with a wrap present means each element in this container,
will stack on top of each other instead of putting them into a row, creating the card effect as desired */
.index-proposition-card {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 3px 3px 5px #FFFFFF inset, 5px 5px 10px 5px #393D3F;
    background-color: #1D5D40;
    align-content: center;
    justify-content: center;
    border-radius: 15px;
    margin: 2% 4%;
    transition: 0.3s;
    height: 500px;
    position: relative;
    contain: content;
}

/*A larger shadow is shown on hover, which transitions back when the cursor leaves the card*/
.index-proposition-card:hover {
    box-shadow: 3px 3px 5px #FFFFFF inset, 5px 5px 15px 10px #393D3F;
}

/*Proposition card header style "shadow" creates a glow, sets to full width
 of container (aiding the flex-direction:column stacking feature)*/
.index-proposition-card-head {
    margin: 1% 0;
    padding: 1%;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 2%;
}

/*Proposition card image style to full width of container (aiding the flex-direction:column stacking feature)*/
.index-proposition-card-img {
    width: 300px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    position: inherit;
    top: -10%;
}

/*Proposition card text gives a p tag slightly bigger  for emphasis, also centre aligned, full width to continue column stack*/
.index-proposition-card-text {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 10px 15px;
    font-size: 130%;
    position: absolute;
    top: 69%;
}

/*Final section on index page, has a brief overview of some features and a 
 button to go to product tab. Centrally aligned box, with centrally aligned 
 content. */
.index-features-section {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 5px 5px 10px #C9F0FF inset, 5px 5px 10px 5px #393D3F;
    background-color: #1D5D40;
    height: auto;
    align-content: center;
    justify-content: center;
    border-radius: 15px;
    margin: 1% auto 3% auto;
    padding: 2%;
    font-size: 130%;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

/*remove margins from h3 and ul elements in index-features-section at the bottom of the page*/
.index-features-section h3,
.index-features-section ul {
    margin-left: 0;
}

/*width of button within the index-features-section*/
.index-features-section .button {
    width: 80%;
}

/* ABOUT PAGE/THANKS PAGE */
/*Content on the pages are similar. Reusing the css styling. Different class names
for clear separation between pages*/
/*the main box, set it green and 80% of the page*/
.about-box,
.thanks-box {
    width: 80%;
    background-color: #1D5D40;
    color: #C9F0FF;
    border-radius: 25px;
    margin: 3% auto;
    box-shadow: 5px 5px 10px #C9F0FF inset, 5px 5px 10px #393D3F;
}

/*the header part of the main box on about and thanks*/
.about-box-header,
.thanks-box-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 20px;
    color: #C9F0FF;
}

/*styling image within the header (the logo) on about and thanks*/
.about-box-header img,
.thanks-box-header img {
    margin-left: 25px;
    justify-content: flex-start;
    width: 20%;
    height: 20%;
}

/*styling h1 within the header on about and thanks*/
.about-box-header h1,
.thanks-box-header h1 {
    margin-right: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

/*position and size styling for the content on thanks and about*/
.about-box-content,
.thanks-box-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 4% 0;
}

/*styling any spans within the main content of thanks and about*/
.about-box-content span,
.thanks-box-content span {
    width: 100%;
    color: #FFFFFF;
    font-family: 'Hind', sans-serif;
    font-size: 150%;
    text-shadow: 0px 1px 5px #000000;
}

/*styling any strong(bold) declarations within the main content of thanks and about*/
.about-box-content strong,
.thanks-box-content strong {
    display: inline;
}

/* CONTACT/ENQUIRY PAGE - contact.html.*/
/*styling the main green boxes for the contact page, which has two green boxes*/
.contact-form-container,
.contact-details-container {
    width: 80%;
    background-color: #1D5D40;
    border-radius: 25px;
    margin: 3% auto;
    box-shadow: 5px 5px 10px #C9F0FF inset, 5px 5px 10px #393D3F;
}

/*the form container will be stacked like a column, unlike the details*/
.contact-form-container {
    display: flex;
    flex-direction: column;
}

/*styling for the form itself. Centring it and less of a width than the header*/
.contact-form {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
}

/*the header formatting for the form on the contact page*/
.contact-form-header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

/*a full row class which puts the elements in a row */
.contact-form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}

/*a box to hold the radio buttons in the form. Setting the flex direction to 
row to start witth*/
.radio-box {
    display: flex;
    flex-direction: row;
    padding-right: 2%;
}

/*holds the 3 radio boxes in a row to put them alongside each other in the form */
.contact-form-radio-row {
    display: flex;
    flex-direction: row;
}

/*all labels within the contact form styling */
.contact-form-container label {
    font-size: 120%;
    display: flex;
    align-items: flex-end;
    text-align: end;
}

/* applies to name and email as phone needs special styling */
.contact-form-input {
    width: 100%;
    margin-bottom: 10px;
}

/*referring by id for selector specificity importance as jquery is used 
 this is the dropdown for the dialing codes*/
#contact-form-country-codes {
    width: 70px;
    display: flex;
    margin-right: 15px;
    margin-bottom: 0;
}

/*styling for the phone number input */
.contact-form-phone {
    width: 100%;
    margin-bottom: 0;
}

/*styling for the dropdown styling which appears in the dropdown of the dialing 
 codes select */
#contact-form-country-codes>optgroup,
#contact-form-country-codes>optgroup>option {
    width: 200px;
    display: flex;
}

/* styling for the contact form radio button labels */
.contact-form-radio-label {
    margin-right: 5px;
}

/*styling for the submit button within the contact form */
.contact-form-button {
    display: flex;
    width: 60%;
    justify-content: center;
}

/*Inspiration for method from : 
 https: //www.w3schools.com/howto/howto_css_responsive_iframes.asp
 For how to make the iframe responsive, rather than cut the content at fixed
 pixels so it will always show the relevant part of the map */

/* styling for the general container within the green contact details box */
.contact-details-container {
    display: flex;
    flex-direction: row;
    height: auto;
}

/*styling the map div, which will hold the iframe within */
.contact-details-map {
    width: 60%;
    margin: 25px 0 25px 25px;
    height: 400px;
}

/*setting initial size for the iframe*/
.contact-details-map>iframe {
    width: 100%;
    height: 400px;
}

/*styling for div containing company contact details */
.contact-details-company {
    width: 40%;
    margin: 25px 25px;
    text-align: end;
}

/* a tags to be white in the contact details for email and phone hrefs */
.contact-details-email>a,
.contact-details-phone>a {
    color: #FFFFFF;
}

/* PRODUCT PAGE - product.html.*/
/*setting initial styling for the green product box*/
.product-feature-box {
    width: 70%;
    background-color: #1D5D40;
    color: #C9F0FF;
    border-radius: 25px;
    margin-bottom: 2%;
    box-shadow: 5px 5px 10px #C9F0FF inset, 5px 5px 10px #393D3F;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

/*every even product feature box to be aligned to the right */
.product-feature-box:nth-child(even) {
    float: right;
    clear: left;
    margin-right: 5%;
}

/*every odd product feature box to be aligned to the left */
.product-feature-box:nth-child(odd) {
    float: left;
    clear: right;
    margin-left: 5%;
}

/*the last product feature box to be given an extra bit of spacing at the base */
.product-feature-box:last-child {
    margin-bottom: 5%;
}

/*the first product feature box to be given an extra bit of spacing at the top */
.product-feature-box:first-child {
    margin-top: 3%;
}

/* header within each product feature box styling */
.product-feature-box-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* product feature box header font styling */
.product-feature-box-header>h2 {
    font-size: 160%;
    width: 85%;
    padding: 3px;
}

/* product feature box header fontawesome styling */
.product-feature-box-header>i {
    font-size: 170%;
    width: 15%;
    padding: 3px;
    color: #FFFFFF;
}

/*for every odd product feature box - set header text to the left,
  for every even product feature box - set overall text to the left */
.product-feature-box:nth-child(odd)>.product-feature-box-header>h2,
.product-feature-box:nth-child(even)>.product-feature-box-header>i {
    text-align: left;
}

/*for every even product feature box - set header text to the right,
  for every odd product feature box - set overall text to the right */
.product-feature-box:nth-child(even)>.product-feature-box-header>h2,
.product-feature-box:nth-child(odd)>.product-feature-box-header>i {
    text-align: right;
}

/* styling for overall content (text and image) in product feature box */
.product-feature-box-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

/* styling for content text in each product feature box */
.product-feature-box-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 150%;
    padding: 1% 3% 0 0;
}

/* styling for content image box in each product feature box */
.product-feature-box-image {
    width: 30%;
    height: auto;
    padding-top: 1.5%;
}

/* styling for content image in each product feature box */
.product-feature-box-image>img {
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px -2px 4px 4px rgba(255, 255, 255, 0.6);
}

/*Typical media query breakpoints from : https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
/*Added additional media queries to make the precision greater*/

/*For screens of resolution no greater in width than 1490px*/
/*For index-proposition-cards to try to keep the headers in one line */
@media screen and (max-width:1490px) {

    /*index.html - Increase button width for readability. in out-the-box*/
    .out-the-box .button {
        width: 20%;
    }
}

/*For screens of resolution no greater in width than 1374px*/
/*index.html -For index-proposition-cards to try to keep the headers in one line */
@media screen and (max-width:1374px) {

    .index-proposition-card {
        width: 25%;
        margin: 2% 0%;
    }
}

/*For screens of resolution no greater in width than 1200px*/
@media screen and (max-width:1200px) {

    /*Decrease h1 font size*/
    h1 {
        font-size: 300%;
    }

    /*Decrease nested span in h1 font size*/
    h1 span {
        font-size: 70%;
    }

    /*index.html - decrease font size and increase width so it fits on less lines to not dominate too much height space*/
    .out-the-box>p {
        font-size: 120%;
        max-width: 90%;
    }

    /*index.html - Increase button width for readability.*/
    .out-the-box .button {
        width: 20%;
    }
}

/*For screens of resolution no greater in width than 1100px*/
@media screen and (max-width:1100px) {

    /*index.html - change card width to be bigger, new height and shrink shadow
      to make it not become too big for the card */
    .index-proposition-card {
        width: 40%;
        height: 470px;
        box-shadow: 3px 3px 5px #C9F0FF inset, 3px 3px 8px 3px #393D3F;
    }

    /*index.html - change positioning for the image container */
    .index-proposition-card-img {
        top: -9%;
    }

    /*index.html - change positioning for the text container */
    .index-proposition-card-text {
        top: 70%;
    }

    /*index.html -A larger shadow is shown on hover, this is made smaller due
      to smaller card */
    .index-proposition-card:hover {
        box-shadow: 3px 3px 5px #C9F0FF inset, 3px 3px 12px 7px #393D3F;
    }

    /*index.html -change button font size in the features section at the
      bottom of the page */
    .index-features-section .button {
        font-size: 90%;
    }


    /*index.html - change margin to be more indented on h3 and ul in index
      features section at the bottom of the page */
    .index-features-section h3,
    .index-features-section ul {
        margin-left: 20px;
    }

    /*contact.html - change font size of a radio box in the form */
    .radio-box {
        font-size: 90%;
    }
}

/*For screens of resolution no greater in width than 1024px*/
@media screen and (max-width:1024px) {

    /*set the font size of elements matching the class button*/
    .button {
        font-size: 140%;
    }

    /*contact.html - change font size of a radio box in the form */
    .radio-box {
        font-size: 88%;
    }
}

/*For screens of resolution no greater in width than 950px*/
@media screen and (max-width:950px) {

    /*index.html - Increase button width for readability.*/
    .out-the-box .button {
        width: 40%;
    }

    /*contact.html - change font size of a radio box in the form */
    .radio-box {
        font-size: 75%;
    }

    /*tried doing a singular selector, but need to use nth child to override the
      previous nth child use this would be due to levels of specificity*/
    /*product.html - for all product feature boxes, remove floats and centre
      align them. (Remove stagger) */
    .product-feature-box:nth-child(odd),
    .product-feature-box:nth-child(even) {
        width: 80%;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }

    /*product.html - centre all the product feature images, instead of having them
      placed in empty space in the parent div */
    .product-feature-box-image {
        margin-top: auto;
        margin-bottom: auto;
    }

    /*product.html - change font size of the text in each product feature box*/
    .product-feature-box-text {
        font-size: 120%;
    }
}

/*For screens of resolution no greater in width than 890px*/
@media screen and (max-width:890px) {

    /*about.html/thanks.html - change from flex row to flex column in header,
      meaning the logo moves from the left to a larger centre image */
    .about-box-header,
    .thanks-box-header {
        flex-direction: column;
    }

    /*about.html/thanks.html - centre align logo and change size to be larger */
    .about-box-header img,
    .thanks-box-header img {
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    /*about.html/thanks.html - centre align header text */
    .about-box-header h1,
    .thanks-box-header h1 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}

/*For screens of resolution no greater in width than 850px*/
@media screen and (max-width:850px) {

    /*Decrease h1 font size*/
    h1 {
        font-size: 250%;
    }

    /*Decrease nested span in h1 font size*/
    h1 span {
        font-size: 50%;
    }

    /* change font size of ul elements in header */
    .header-menu>ul {
        font-size: 80%;
    }

    /* index.html - change font size within the class */
    .full-width-row {
        font-size: 110%;
    }

    /* index.html - change font size of the p tags within the out-the-box class */
    .out-the-box>p {
        font-size: 100%;
    }

    /* index.html - change font size of text, and width of button class elements
       when nested into the out-the-box class */
    .out-the-box .button {
        width: 30%;
        font-size: 90%
    }

    /* index.html - change p tag font size when inside index-proposition class div*/
    .index-proposition-card-text>p {
        font-size: 90%;
    }

    /* index.html - change h3 tag font size when inside index-proposition class div*/
    .index-proposition-card-text>h3 {
        font-size: 90%;
    }

    /* index.html -change font size of text within the index-features-section class */
    .index-features-section {
        font-size: 90%;
    }

    /* contact.html - change flex from row to column in contact details container */
    .contact-details-container {
        flex-direction: column;
    }

    /* contact.html - change map from being on the left to being in the centre*/
    .contact-details-map {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    /* contact.html - change iframe to have relative positioning, so it becomes
       responsive, showing the same map origin */
    .contact-details-map>iframe {
        position: relative;
    }

    /* contact.html - centre align contact details for the company, under the 
       map */
    .contact-details-company {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    /*contact.html - centre align all content within the 
      contact-details-company div */
    .contact-details-company>* {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        text-align: center;
    }

    /*contact.html - on the form change the radio buttons to go from a row to
      a column */
    .contact-form-radio-row {
        flex-direction: column;
    }

    /* contact.html - change font size of content of radio-box */
    .radio-box {
        font-size: 95%;
    }
}

/*For screens of resolution no greater in width than 770px*/
@media screen and (max-width:770px) {

    /*index.html - centre align content of the hero container */
    .hero-container {
        align-items: center;
        height: 300px;
    }

    /* index.html - change image size to adapt to smaller resolution */
    .hero-image {
        margin: 25px 25px 0px 15px;
        width: 200px;
        height: 200px;
        min-width: 200px;
        min-height: 200px;
        box-shadow: 5px 5px 10px #C9F0FF inset, 5px 5px 10px 5px #393D3F;
    }

    /* index.html - change hero text to adapt to smaller resolution */
    .hero-text {
        height: 200px;
        margin: 25px 25px 0px 0px;
        font-size: 90%;
    }
}

/*For screens of resolution no greater in width than 705px*/
@media screen and (max-width:705px) {

    /*change height of header*/
    header {
        width: 100%;
        height: 75px;
    }

    /* change a tag styling in header */
    header a {
        height: 75px;
        width: auto;
    }

    /* change size of logo to adapt for smaller height header on smaller 
       resolutions */
    .header-logo {
        height: 75px;
        width: 75px;
        min-height: 1px;
        min-width: 1px;
    }

    /*make the burger icon (label that is clickable) visible */
    .burger-icon {
        visibility: visible;
    }

    /*change the menu in the header styling */
    .header-menu {
        clear: none;
        display: flex;
        max-height: none;
    }

    /* move the position of the menu to be below the header, full screen width */
    .header-menu>ul {
        position: absolute;
        visibility: hidden;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #1D5D40;
        width: 100%;
        top: 75px;
        left: 0px;
        z-index: 100;
        border: #393D3F 1px solid;
        box-shadow: 0px 4px 9px 3px #393D3F;
    }

    /*set a "function" so when the ul is checked/unchecked (burger label clicked)
      the ul (menu) fades in/fades out */
    .burger-btn:checked~ul {
        visibility: visible;
        animation: fadeIn 0.5s;
    }

    /* set the styling of each list item in the menu that appears across the 
       width of the screen */
    .burger-btn:checked~ul li {
        position: relative;
        background: #1D5D40;
        width: 25%;
        height: auto;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-right: 0px;
        padding: 1%;
    }

    /*styling the fontawesome icon in the burger menu */
    .burger-btn:checked~ul li a {
        padding: 1%;
        height: auto;
    }

    /*styling the "active" class which is a highlighting of the page currently
    in. */
    .active {
        border-bottom: none;
    }

    /*index.html - changing height and width of proposition cards */
    .index-proposition-card {
        height: 410px;
        width: 65%;
    }

    /* index.html - change position of image within proposition card */
    .index-proposition-card-img {
        top: -3%;
    }

    /* index.html - change position of text within proposition card */
    .index-proposition-card-text {
        top: 80%;
    }

    /* index.html - change h3 and ul margins in index-features-section at the
       bottom of the page */
    .index-features-section h3,
    .index-features-section ul {
        margin-left: 5%;
    }

    /* product.html - change font size for header in each product feature box */
    .product-feature-box-header {
        font-size: 60%;
    }

    /* product.html - change text size for header in each product feature box
       and class width (to make image bigger) */
    .product-feature-box-text {
        font-size: 100%;
        width: 60%
    }

    /* product.html - image made larger to fill larger space left behind */
    .product-feature-box-image {
        width: 40%
    }
}

/*For screens of resolution no greater in width than 600px*/
@media screen and (max-width:600px) {

    /*index.html - change h3 margin in features section at bottom */
    .index-features-section h3 {
        margin-top: 3%;
    }

    /* about.html/thanks.html - set h1 tag smaller font and centered */
    .about-box-header h1,
    .thanks-box-header h1 {
        justify-content: center;
        font-size: 200%;
    }

    /* about.html/thanks.html - set span tag smaller font */
    .about-box-content span,
    .thanks-box-content span {
        font-size: 120%;
    }
}

/*For screens of resolution no greater in width than 570px*/
@media screen and (max-width:570px) {

    /* index.html - change height of proposition card */
    .index-proposition-card {
        height: 500px;
    }

    /* index.html - change position of image in proposition card */
    .index-proposition-card-img {
        top: -11%;
    }

    /* index.html - change position of text in proposition card */
    .index-proposition-card-text {
        top: 72%;
    }
}

/*For screens of resolution no greater in width than 530px*/
@media screen and (max-width:530px) {

    /*index.html - Adjust hero height*/
    .hero-container {
        height: 250px;
    }

    /* index.html - change size of image and shadow of image in hero */
    .hero-image {
        width: 175px;
        height: 175px;
        min-width: 175px;
        min-height: 175px;
        box-shadow: 4px 4px 8px #C9F0FF inset, 4px 4px 8px 4px #393D3F;
    }

    /* index.html - change height of text and font size of text in hero */
    .hero-text {
        height: 175px;
        font-size: 70%;
    }

    /*index.html - change size of p tag text in out-the-box class */
    .out-the-box>p {
        font-size: 80%;
    }

    /* index.html - change button class width in out-the-box class */
    .out-the-box .button {
        width: 50%;
    }

    /* index.html - change button class width in index-features-section  class */
    .index-features-section .button {
        font-size: 80%;
    }

    /*change burger menu to be a column instead of row */
    .burger-btn:checked~ul {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    /* set the width of each item in the menu to be full page */
    .burger-btn:checked~ul li {
        width: 100%;
    }

    /* about.html/thanks.html - change font size of h1 tags in the headers */
    .about-box-header h1,
    .thanks-box-header h1 {
        font-size: 175%;
    }

    /* about.html/thanks.html - change font size of span within content boxes */
    .about-box-content span,
    .thanks-box-content span {
        font-size: 100%;
    }

    /*contact.html - change width of contact form */
    .contact-form {
        width: 80%;
    }

    /* contact.html - change font sizes in inputs and radios */
    .contact-form-input,
    .radio-box {
        font-size: 90%;
    }

    /* contact.html - set font size of phone number input */
    #contact-form-phone {
        font-size: 90%;
    }

    /* contact.html - set font size and width of country code input */
    #contact-form-country-codes {
        font-size: 90%;
        width: 65px;
    }

    /* product.html - product-feature class at this point needs to have fontawesome,
    all aligned to the same side (left) */
    .product-feature-box-details:nth-child(odd) {
        flex-direction: column-reverse;
    }

    /*product.html - same as above, but moving from the right */
    .product-feature-box-details:nth-child(even) {
        flex-direction: column;
    }

    /* product.html - styling the text in the feature box, smaller text, full
       width, centred text */
    .product-feature-box-text {
        font-size: 90%;
        width: 100%;
        padding: 2%;
        text-align: center;
    }

    /* product.html - product feature image to increase in size to fit into 
       larger space left behind */
    .product-feature-box-image {
        width: 50%;
        margin: 2% auto 0 auto;
        padding-bottom: 0;
    }
}

/*For screens of resolution no greater in width than 440px*/
@media screen and (max-width:440px) {

    /* index.html - change hero to column, so image will be on top of text*/
    .hero-container {
        flex-direction: column;
        height: auto;
    }

    /* index.html -alter hero-image styling */
    .hero-image {
        margin: 15px;
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
        box-shadow: 2px 2px 5px #C9F0FF inset, 2px 2px 5px 2px #393D3F;
    }

    /* index.html -alter hero-text class styling */
    .hero-text {
        text-align: center;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    /* index.html -alter hero-text styling for nested h1 tags */
    .hero-text h1 {
        margin: 15px;
        content: 'RENTERPRISE\AInnovative Software To Drive Your Rental Business';
        white-space: pre-wrap;
    }

    /* index.html - change size of proposition cards*/
    .index-proposition-card {
        max-width: 300px;
        width: 80%;
        height: auto;
    }

    /*index.html - header styling within the cards, remove absolute position to
     make it responsive when it is one card wide on the page */
    .index-proposition-card-head {
        font-size: 80%;
        width: 100%;
        position: unset;
        padding: 3%;
    }

    /*index.html - image styling within the cards,
    remove absolute position to make it responsive when it is one card wide on the page */
    .index-proposition-card-img {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        position: unset;
    }

    /*index.html - text styling within the cards,
    remove absolute position to make it responsive when it is one card wide on
    the page */
    .index-proposition-card-text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: unset;
    }

    /* index.html - change h3 font size when nested into cards on index */
    .index-proposition-card-text>h3 {
        font-size: 80%;
    }

    /* index.html - change h3 margin when nested into features section on index */
    .index-features-section h3 {
        margin-right: 8%;
    }

    /* index.html - a shared margin for h3 and ul in features section on index */
    .index-features-section h3,
    .index-features-section ul {
        margin-left: 8%;
    }

    /*centre all footer content */
    footer {
        justify-content: center;
    }

    /* change font size and line height of fontawesome icons in footer */
    .social-networks i {
        font-size: 100%;
        height: auto;
        width: auto;
        line-height: 40px;
    }

    /* about.html/thanks.html - font size of h1 tags within the header */
    .about-box-header h1,
    .thanks-box-header h1 {
        font-size: 120%;
    }

    /* about.html/thanks.html - font size of span tags within the main content */
    .about-box-content span,
    .thanks-box-content span {
        font-size: 90%;
    }

    /* contact.html - font size of header text in the form */
    .contact-form-header {
        font-size: 70%;
    }

    /* contact.html - change the form rows to be a column instead of row */
    .contact-form-row {
        flex-direction: column;
    }

    /* contact.html - styling of phone input in the form */
    .contact-form-phone {
        margin-top: 1%;
        width: 100%;
    }

    /* contact.html - change font size of other input fields (not phone/radio)*/
    .contact-form-input,
    .radio-box {
        font-size: 80%;
    }

    /* contact.html - change font size of phone number input */
    #contact-form-phone {
        font-size: 80%;
    }

    /* contact.html - change font size of h2 tags in the company details box */
    .contact-details-company>h2 {
        font-size: 220%;
    }

    /* contact.html - change font size of h3 tags in the company details box */
    .contact-details-company>h3 {
        font-size: 80%;
    }

    /* contact.html - change font size of p tags in the company details box */
    .contact-details-company>p {
        font-size: 70%;
    }

    /*product.html - when this size, centre the h2 in the header, rather than 
      justify to a side */
    .product-feature-box-header:nth-child(odd)>h2,
    .product-feature-box-header:nth-child(even)>h2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /*product.html - when this size, remove the fontawesome, by making it
      not visible */
    .product-feature-box-header:nth-child(odd)>i,
    .product-feature-box-header:nth-child(even)>i {
        width: 0%;
        display: none;
    }

    /* product.html - change box size for the product feature image */
    .product-feature-box-image {
        width: 70%;
    }
}

/*For screens of resolution no greater in width than 350px*/
@media screen and (max-width:350px) {

    /* index.html - change font size of headers in cards */
    .index-proposition-card-head {
        font-size: 60%;
    }

    /* index.html - change font size of p tags in cards */
    .index-proposition-card-text>p {
        font-size: 70%;
    }

    /* index.html - change font size of h3 tags in cards */
    .index-proposition-card-text>h3 {
        font-size: 70%;
    }

    /* index.html - common styling across h3 and ul tags in features section for
       margin and font size */
    .index-features-section h3,
    .index-features-section ul {
        margin-left: 10%;
        font-size: 90%;
    }

    /*about.html - hide the logo in the header as it takes a lot of space at
     this size*/
    .content-container .about-box .about-box-header img {
        display: none;
        width: 0;
    }

    /* contact.html - change size of font in radio boxes */
    .radio-box {
        font-size: 80%
    }

    /* contact.html - change size of font in labels */
    label.contact-form-outer-label {
        font-size: 90%;
    }

    /* contact.html - change size of h3 tags in company details */
    .contact-details-company>h3 {
        font-size: 70%;
    }

    /* contact.html - change size of p tags in company details */
    .contact-details-company>p {
        font-size: 60%;
    }

    /* product.html - change font size of h2 tags in the headers of the feature
       boxes */
    .product-feature-box-header:nth-child(odd)>h2,
    .product-feature-box-header:nth-child(even)>h2 {
        font-size: 130%
    }

    /* product.html - change font size of text in the feature boxes */
    .product-feature-box-text {
        font-size: 80%;
    }
}

/*For screens of resolution no greater in width than 300*/
@media screen and (max-width:300px) {

    /* index.html - font size and shadow size of span element deeply nested
       in hero text */
    .hero-text>h1>span {
        font-size: 60%;
        text-shadow: 0px 1px 5px #000000;
    }

    /*index.html - font size of button in features section */
    .index-features-section .button {
        font-size: 65%;
    }

    /*about.html/thanks.html - font size of h1 tags in the headers in the
      thanks and about page. */
    .about-box-header h1,
    .thanks-box-header h1 {
        font-size: 110%;
    }

    /*about.html/thanks.html - font size of span in the main content. */
    .about-box-content span,
    .thanks-box-content span {
        font-size: 80%;
    }

    /*about.html/thanks.html - font size of h2 tags in the header
        of the product feature box */
    .product-feature-box-header:nth-child(odd)>h2,
    .product-feature-box-header:nth-child(even)>h2 {
        font-size: 110%;
    }

    /* product.html - change font size of the main text in the feature box */
    .product-feature-box-text {
        font-size: 70%;
    }
}