@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Roboto:wght@500&display=swap');

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* h1 capitalised for emphasis. Complimentary font to Hind Light in the logo, but  */
h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #393D3F;
}

/* h2 and h3 styling the same as above, defaults to the dark grey featured in the colour palette
 but can be changed as needs be. Fall-back font of sans-serif. Do not capitalise like h1 */
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    color: #393D3F;
}

/* Default for p tag is the logo in the font, not used for headers as it is slim. H1 should be
clear and emphasised for its importance */
p {
    font-family: 'Hind', sans-serif;
    color: #393D3F;
}

/* header styling -
Set colour theme in BG, full page width, no fewer than 100px in height in responsive mode,
set to flex row and no left side margin*/
header {
    background-color: #2D8A60;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

/* The "a" tag which holds the logo - 15% of page width and minimum height to match header
minimum width to match logo */
header a {
    width: 15%;
    min-height: 100px;
    min-width: 200px;
}

/* Logo style - Get width from parent ("a" tag) 0 margin within its container (header) 
setting again the min height/width to match the parent and to not let the image go any
smaller, to the point it cannot be seen. Which it will without this setting */
.header-logo {
    width: inherit;
    margin-left: 0;
    min-height: 100px;
    min-width: 200px;
    background-color: #2D8A60;
}

/*Styling the header menu  Width of 85% (remainder in header after logo takes 15%) 
font colour and size set. Set it to be a flex row, and to set the menu items to add into
the page from the end of the row. Use align-items:center to align it vertically*/

.header-menu {
    width: 85%;
    font-size: 150%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/*Styling each link in the menu (each list item). List style type:none means that
no bullet points are made. Set 30px in from the right. Display inline, (so that it creates them in from the right hand side, rather than
creating thme into a column).*/
.header-menu li {
    font-family: 'Hind', sans-serif;
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

/* each a (link) within the nav menu has no purple overlay when previously clicked (text-decoration)
text is white */
.header-menu a {
    text-decoration: none;
    color: #FFFFFF;
}

/* when a header-menu link is hovered, it goes a light blue to signify where the intended click
in the menu is */
.header-menu a:hover {
    color: #C9F0FF;
    border-bottom: 1px solid #C9F0FF;
}

/* on each page, there is a selected header-menu item. This item is underlined on its
respective page */
.active {
    border-bottom: 1px solid #FFFFFF;
}

/* Footer styling */
/*Full page width, fixed 100px height. Flex row display with centred content and 
the background colour in line with the  theme*/
footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2D8A60;
}

/* social networks ul css set the text to be centre aligned in a flex row 
with centred items*/
.social-networks {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

/*Each list item of the social networks unorganised list carries the flex 
display has padding (from top and bottom of social networks class, which is the
height of the footer*/
.social-networks>li {
    display: flex;
    padding: 25px;
}

/*styling for the font awesome "i" tags, setting text field size, font colour
line height to create a centring effect*/
.social-networks i {
    font-size: 200%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
}

/*When hovering the social media icons, turn them the light blue which is part
of the theme.*/
.social-networks i:hover {
    color: #C9F0FF;
}

/*A div to set the width of the content to not go to the edges of the page.*/
.content-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*100% width of 80% overall width of page*/
.hero-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}